
* , ::after , ::before{
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 4px;
  background-color: #0b0952;
}
::-webkit-scrollbar-thumb{
  background: rgb(73, 70, 70);
}
body{
  font-family: 'Roboto', sans-serif;  
  background: linear-gradient(#06255e,#070640);
  margin: 0;
  ul li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  input , textarea , button {
    border-style: none;
    cursor: pointer;
    outline: none;
    background: none;
   
  }
}
/////////////////////////////////////////////////////////////
/*        Header-Button       */

////////////////////////////////////////////////////////

/*     Common Variables       */

.container{
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}
.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0.1rem;
}

a{
  color: #fff;
  font-size: 1.1rem;  
  &:hover{
    transition: 500ms ease-in;
    color: #fe3e57;
  }
}



//////////////////////////////////////////////////////////
/*            Header                  */

.section-header{
  background: linear-gradient(#06255e,#070640);
  padding: 0;
}

.header-between{
  display: flex;
  justify-content: space-between;
}

.header-a{
  .with-grading{
    font-size: 3rem;
    padding: 0;    
    // animation-name: feas;
    // animation-duration: 50s;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
    // animation-timing-function: ease-in-out;   
    
    background: linear-gradient(30deg, #f3ec78, #fe3e57 ,#00ffbf );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: inline-block;
  }  
}
// @keyframes feas{
//   0%{
//     background: linear-gradient(45deg, #f3ec78, #af4261);
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   10%{    
//     background: linear-gradient(45deg, #af4261, goldenrod);
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   20%{    
//     background: linear-gradient(45deg, goldenrod, rgb(11, 97, 8));
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   30%{    
//     background: linear-gradient(45deg, rgb(11, 97, 8), rgb(150, 12, 30));
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   40%{    
//     background: linear-gradient(45deg, rgb(150, 12, 30), rgb(13, 162, 189));
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   50%{    
//     background: linear-gradient(45deg, rgb(13, 162, 189), rgb(218, 122, 32));
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   60%{    
//     background: linear-gradient(45deg, rgb(218, 122, 32), rgb(243, 26, 10));
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   70%{    
//     background: linear-gradient(45deg, rgb(243, 26, 10), rgb(218, 32, 147));
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   80%{    
//     background: linear-gradient(45deg, rgb(218, 32, 147), rgb(32, 190, 218));
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   90%{    
//     background: linear-gradient(45deg,rgb(32, 190, 218) , #f3ec78);
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
//   100%{    
//     background: linear-gradient(45deg, #f3ec78, rgb(18, 3, 48));
//     background-clip: text;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     -moz-text-fill-color: transparent;
//     display: inline-block;
//   }
// }

.header-b{
  ul{
    display: flex;    
    // li{
    //   padding-right:3rem;   
    // }
    a{
      padding:0 3rem;       
    }
  }  
  .contact-comp{    
    a{
      border: 2px solid #fe3e57;
      padding: 1rem 2rem;      
    }
  }
}

///////////////////////////////////////////////////////////
.hero-section{
  // background-color:#0b0952 ;
  background: linear-gradient(#070640,#06255e,#070640);  
} 
  .hero-image{
    width: 100%;    
    padding: 1rem;
    height: 60vh;
    img{
      width: 100%;
      height: 100%;    
      object-fit: contain;  
    }
    
  }
  .hero-description{   
    text-align: center; 
    padding: 4rem;
    flex-direction: column;
    h1{
      font-size: 3rem;
      padding: 1rem 0;
      color:#fe3e57;            
      span{
        color:#fff;
      }
    }
    h2{
      color: #fff;
      padding: 1rem 0;
      font-size: 2rem;
    }    
  }

/////////////////////////////////////////////////////
/*       ABOUT                */

.section-about{
  background: linear-gradient(#070640,#06255e);
}
.active{
  border-bottom: 2px solid #fff;
}

.about-header{
  h2{
    font-size: 3rem;
    color: #fff;
    padding: 1rem 0;
  }
  ul{   
    margin: 0;   
    padding: 0.8rem 0; 
    .active{
      border-bottom: 2px solid #fff;
    }    
    a{      
      padding: 0.8rem 10rem;  
      border-bottom: 2px solid #070640;    
      color: #fff;
      .active{
        border-bottom: 2px solid #fff;
      }    
      &:focus , &:active{
        border-bottom: 2px solid #fff;
      }
    }
  }
}

/*            About-Data         */
.section-aboutData{
  background: linear-gradient(#06255e,#070640);
  padding: 2rem 0;
}

.aboutData{
  h3{    
    font-size: 2.5rem;       
  }
  p{    
    font-size: 1.2rem;
    color: #fff;  
    padding-bottom: 1rem;  
    line-height: 30px;
  }
  a{
    border: 2px solid #fe3e57;
    padding: 1rem 2rem;       
  }  
  .img-aboutData{
    width: 90%;
  }
}
/*           SKILLS        */

.grid-skills{
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  gap: 0 5rem;
  .display-block{
    display: block;
    padding: 2rem 0;
  }
  h3{
    font-size: 4rem;    
    padding-bottom: 0.5rem;
    margin: 0;
  }
  .progress-bar{
    padding: 0.2rem 0;
  }
  h4{    
    font-size: 1.3rem;
    color: #fff;
  }
}

/*                  Social-Media               */
// .grid-socialMedia{
//   display: grid;
//   grid-template-columns:repeat(3,1fr) ;
//   gap: 0 0.5rem;  
//   .div-socialmedia{
//     h4{
//       font-size: 2rem;
//       padding: 0 0.7rem;
//     }
//     .display-block{
//       display: block;
//       padding: 2rem 0;
//     }
//   }
// }

.div-socialmedia{
  h4{
    font-size: 2rem;
    padding: 0 0.7rem;
  }
}

/////////////////////////////////////////////////////
/*       Projects       */

.section-projects{
  background: linear-gradient(#070640,#06255e,#070640);
}

.project-tab{
  position: relative;
  // width: 600px;
  height: 400px;
  gap: 0.1rem;
  img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:cover;        
  }

  a{
    position: absolute;
    background-color: transparent;
    bottom: 10%;
    left: 40%;
    border: 2px solid rgb(12, 12, 12);
    padding: 1rem 3rem;
    color: #000;
    font-weight: 700;
    z-index: 10;
    &:hover{
      color:rgba(248, 7, 7, 0.836); 
      border: 2px solid  rgba(136, 7, 7, 0.836);
    }
  }
}

.grid-row-1{
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;  
  padding: 2rem 0;  
  h2{
    font-size: 3rem;
    padding: 2rem 0;
    color:#fff;
  } 
}
.grid-row-2{
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  padding: 2rem 0;  
  .know-more{
    font-size: 1rem;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 5px;
    border: 2px solid rgba(136, 7, 7, 0.836);   
    &:hover{
      color:rgba(136, 7, 7, 0.836); 
    }      
  }
  
}


////////////////////////////////////////////////////
/*           CONTACT FORM           */
.section-contact {
  background: linear-gradient(#070640,#06255e,#070640);
  padding: 2rem 0;
  h2{
    color: #fff;
    font-size: 3rem;    
  }
}

.form-control{
  border: 1px solid gold;
  padding: 1rem 1.5rem;
  h3{
    font-size: 1.5rem;
    padding: 1 0rem;
    color: #fff;
  }
  .input-control {
    margin-bottom: 0.5rem;
    padding: 1rem 0;
  } 
  
  .input-control input,
  .input-control textarea {
    font: inherit;
    padding: 0.5rem;  
    background-color: transparent;
    border-bottom: 2px solid grey;
    display: block;    
    width: 100%;
    font-size: 0.9rem;
    color:white;
    box-shadow: none !important;
  }
  
  .input-control input:focus,
  .input-control textarea:focus{
    background-color: transparent;    
    border-bottom: 2px solid rgba(68, 25, 25, 0.39);    
  }
  button{
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.1rem;
    background-color: rgb(31, 22, 119);
    border-radius: 30px;
    margin: 1rem 0;    
    font-weight: 400;
    border: 1px solid gold;
    &:hover{
      transition: 1s ease-in-out;
      background-color: #fe3e57;
    }
  }
}
.gap{
  gap: 1rem;
}
.box-contact{
  border: 2px solid gold;
  padding: 2rem 4rem;
  margin: 1rem 0;
  width: 89%;
  h5{
    font-size: 1.5rem;
    color: #fff;
  }
  h6{
    font-size: 1.3rem;
    color: #fff;
  }
  address{
    font-size: 1.3rem;
    color: #fff;
  }
}
////////////////////////////////////////////
/*          Footer                 */
footer{
  background: linear-gradient(#070640,#06255e,#070640);
  padding: 0.5rem 0;
  a{
    padding:0 2rem;    
  }
  h2{
    font-size: 2rem;
    padding: 0 2rem;
    color: white;
    span{
      color: #fe3e57;
    }
  }
}



@media only screen and (max-width : 1200px) {
  .container{
    margin: 0 auto;
    padding: 0;
    max-width: 950px;
  }
  .about-header{
    ul{
      padding: 0;
      a{
        padding: 0 7rem;
        font-size: 1.2rem;
      }
    }
  }
  // .grid{
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   gap: 0.1rem 0rem;
  // }
  // html{
  //   font-size: 12px;
  // }
}
@media only screen and (max-width : 1000px) {
  .container{
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
  }
  .grid{
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.1rem 0rem;
  }
  .aboutData{
    .img-aboutData{
      img{
        max-width: 500px;
      }
    }
  }  
  .about-header{
    ul{
      padding: 0;
      a{
        padding: 0 5rem;
        font-size: 1.2rem;
      }
    }
  }
  .grid-socialMedia{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0;
    .display-block{
      padding: 2rem 0;
    }
  }
}
@media only screen and (max-width : 800px) {
  .container{
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
  }
  .grid{
    display: grid;
    grid-template-rows: 1fr ;
    gap: 0.1rem 0rem;
  }
  html{
    font-size: 09px;
  }
}
@media only screen and (max-width : 700px) {
  .container{
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
  }
  .grid{
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.1rem 0rem;
  }
  body{
    font-size: 07px;
  }
}
@media only screen and (max-width : 500px) {
  .container{
    margin: 0 auto;
    padding: 0;
    max-width: 400px;
  }
  .grid{
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.1rem 0rem;
  }
  body{
    font-size: 06px;
  }
}
@media only screen and (max-width : 400px) {
  .container{
    margin: 0 auto;
    padding: 0;
    max-width: 320px;
  }
  .header-between{
    justify-content: center;
  }
  .header-b{
    a{
      padding: 0;
    }
  }
  .contact-comp{    
    a{
      border: 2px solid #fe3e57;
      padding: 0;
      // padding: 1rem 0rem;      
    }
  }
  .grid{
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.1rem 0rem;
  }

  .about-header{
    ul{
      padding: 0;
      a{
        padding: 0 3rem;
        font-size: 1.2rem;
      }
    }
  }
  .project-tab{   
    gap: 0.1rem 0; 
    img{     
      object-fit:fill;        
    }
  }
  .aboutData{
    .img-aboutData{
      img{
        max-width: 320px;
      }
    }
  }
  .article-aboutData{
    p{
      max-width: 320px;
    }
  }
  .grid-socialMedia{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0;
    .display-block{
      padding: 2rem 0;
    }
  }
}